html{
	width:100%;
	height:100%;
}
body{
	width:100%;
	height:100%;
}

slider{
	margin: 5px;
}


.info-popup-table{
	border-collapse:collapse;
}
.info-popup-table td{
	border: 1px solid black;
	padding:3px;
}

.odd-info-popup-row{
	background-color:#CCCCCC;
}
.even-info-popup-row{
	background-color:#EEEEEE;
}
.info-popup-more-info-row {
	font-family: sans-serif;
}
.info-popup-more-info-row > td{
	padding-top	: 5px;
}